[user]
	name = Damien Schoof
	email = damien.schoof@gmail.com

[alias]
    lc = log ORIG_HEAD.. --stat --no-merges
    llog = log --date=local
    changes = diff --name-status -r
    diffstat = diff --stat -r
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    who = shortlog -s --
	up = "!git remote update -p; git merge --ff-only @{u}"
[push]
	default = simple
[diff]
	tool = meld
[merge]
	tool = meld
